// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
// $body-font-family: Roboto, sans-serif;
// $heading-font-family: 'Montserrat', sans-serif;

// Typo and fonts
@font-face {
    font-family: 'Marianne';
    src: url('~/assets/fonts/Marianne/fontes_desktop/Marianne-Regular.otf');
    src: url('~/assets/fonts/Marianne/fontes_web/Marianne-Regular.woff') format('woff'),
      url('~/assets/fonts/Marianne/fontes_web/Marianne-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Spectral';
    src: url('~/assets/fonts/Spectral/Spectral-Regular.ttf');
  }

  $heading-font-family: 'Marianne', 'Arial', sans-serif !default;
  $body-font-family: 'Marianne', 'Arial', sans-serif !default;
  $alter-font-family: 'Spectral', 'Georgia', sans-serif !default;

  $headings: (
        'h1': (
          'size': 40px,//200px,
          'weight': 900,
          'line-height': 48px,
          'letter-spacing': 0em,
          'font-family': $heading-font-family,
          'text-transform': uppercase,
        ),
        'h2': (
          'size': 32px,//100px,
          'weight': 900,
          'line-height': 40px,
          'letter-spacing': 0em,
          'font-family': $heading-font-family,
          'text-transform': uppercase
        ),
        'h3': (
          'size': 28px,
          'weight': 400,
          'line-height': 36px,
          'letter-spacing': normal,
          'font-family': $heading-font-family,
          'text-transform': uppercase
        ),
        'h4': (
          'size': 24px,
          'weight': 900,
          'line-height': 32px,
          'letter-spacing': normal,
          'font-family': $heading-font-family,
          'text-transform': uppercase
        ),
        'h5': (
          'size': 22px,
          'weight': 400,
          'line-height': 28px,
          'letter-spacing': normal,
          'font-family': $heading-font-family,
          'text-transform': uppercase
        ),
        'h6': (
          'size': 20px,
          'weight': 500,
          'line-height': 28px,
          'letter-spacing': 0em,
          'font-family': $heading-font-family,
          'text-transform': false
        ),
        // 'subtitle-1': (
        //   'size': 16px,
        //   'weight': 500,
        //   'line-height': 20.32px,
        //   'letter-spacing': normal,
        //   'font-family': $body-font-family,
        //   'text-transform': false
        // ),
        // 'subtitle-2': (
        //   'size': .875rem,
        //   'weight': 500,
        //   'line-height': 1.375rem,
        //   'letter-spacing': .0071428571em,
        //   'font-family': $body-font-family,
        //   'text-transform': false
        // ),
        'body-1': (
            'size': 16px,
            'weight': 500,
            'line-height': 100%,
            'letter-spacing': normal,
            'font-family': $body-font-family,
            'text-transform': false
        ),
        // 'body-2': (
        //   'size': .875rem,
        //   'weight': 400,
        //   'line-height': 1.25rem,
        //   'letter-spacing': .0178571429em,
        //   'font-family': $body-font-family,
        //   'text-transform': false
        // ),
        'button': (
          'size': 16px,
          'weight': 400,
          'line-height': 12.48px,
          'letter-spacing': normal,
          'font-family': $heading-font-family,
          'text-transform': false
        )
        // 'caption': (
        //   'size': .75rem,
        //   'weight': 400,
        //   'line-height': 1.25rem,
        //   'letter-spacing': .0333333333em,
        //   'font-family': $body-font-family,
        //   'text-transform': false
        // ),
        // 'overline': (
        //   'size': .75rem,
        //   'weight': 500,
        //   'line-height': 2rem,
        //   'letter-spacing': .1666666667em,
        //   'font-family': $body-font-family,
        //   'text-transform': uppercase
        // )
    );

  h1, h2, h3, h4, h5, h6 {
    color: var(--v-g800) !important
  }

  .v-btn .v-btn__content {
    font-family: $heading-font-family;
    text-transform: capitalize;
  }

  .v-btn {
      text-transform: capitalize;
  }

  .break-word {
    word-break: break-word !important;
  }
