export SUPABASE_ADMIN_KEY="<service role> legacy API Key"
export SUPABASE_ANON_KEY="<anon public> legacy API key"
export SUPABASE_URL="http://127.0.0.1:54321"
# APP_URL is used in emails and Slack webhooks to provide the full path to our app, including the domain name.
export APP_URL="http://localhost:3000" # without the trailing slash
export NUXT3_API_URL="http://localhost:4000" # without the trailing slash

export DOCURBA_API_URL="http://localhost:8000"

# Not mandatory environment variables.
export BREVO_API_KEY=""
export GITHUB_PAC_REPO_NAME=""
export GITHUB_PAC_REPO_OWNER=""
export GITHUB_TOKEN=""
export PIPEDRIVE_API_KEY=""
export SENDGRID_API_KEY=""
export SLACK_EVENT_CTBE=""
export SLACK_WEBHOOK=""
export DDT_ENQUETE_ENABLED=""
export DDT_PROCEDURE_SURVEY_ENABLED_DEPTS=""
