export PYTHONPATH="./django/"
export DJANGO_SETTINGS_MODULE="config.settings.dev"
export SECRET_KEY="xxxx" # django-admin generate_secret_key
export UPSTREAM_NUXT="http://localhost:3000"
export DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

# scripts/backup_database.sh
# scripts/restore_database.sh
export BACKUPS_ENABLED="False"
export BACKUPS_DELETE_URL_IN_DUMP_FILE="False"
export BACKUPS_FOLDER_PATH="scripts/exported_data"
export BACKUPS_SLACK_WEBHOOK=""
export BACKUPS_SUPABASE_GRANT_PRIVILEGES_TO_USERS="False"
export BACKUPS_SUPABASE_MODIFY_TRIGGERS="False"
export RCLONE_S3_ACCESS_KEY_ID=""
export RCLONE_S3_SECRET_ACCESS_KEY=""
export RCLONE_AWS_REGION=""
export RCLONE_CONFIG_OUTSCALE_ENDPOINT=""
export RCLONE_CRYPT_PASSWORD=""
export RCLONE_CRYPT_PASSWORD2=""
export RCLONE_CONFIG="path_to_rclone_config_file"

# Review apps
export SUPABASE_PROJECT_ID=""
export SUPABASE_ACCESS_TOKEN=""

# Tests
export TEST_DATABASE_URL="postgres://postgres:postgres@127.0.0.1:5432/test_docurba"

# Mise
export NUXT3_PATH="/path/to/docurba-nuxt3"
