<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="dark light" />

        <title>Document</title>
    </head>
    <body>
        <h1>{{ collectivite.code_insee }} {{ collectivite.nom }}</h1>
        {% for is_schema, procedures in procedures_principales_by_schema.items %}


        <table>
            <caption>
                {% if is_schema %}
                    Schémas
                {% else %}
                    Plans
                {% endif %}
            </caption>
            <tr>
                <th>Nom</th>
                <th>Opposable</th>
                <th>Statut</th>
                <th>Date d'approbation</th>
                <th>Denier event impactant</th>
            </tr>
            {% for procedure, is_opposable in procedures %}
            <tr>
                <td>
                    <a href="{{ procedure.get_absolute_url }}">
                        {{ procedure }}
                    </a>
                    <br />
                    {{ procedure.id }}
                </td>
                <td>{% if is_opposable %}✅{% endif %}</td>
                <td>{{ procedure.statut }}</td>
                <td>{{ procedure.date_approbation }}</td>
                <td>{{ procedure.dernier_event_impactant.type }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </body>
</html>
