name: Lint & Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

defaults:
  run:
    working-directory: django

jobs:
  all:
    runs-on: ubuntu-latest
    env:
      DJANGO_SETTINGS_MODULE: core.settings
      SECRET_KEY: test_secret_key
      DJANGO_DEBUG: "True"
      DATABASE_URL: postgres://postgres:docurba@localhost:5434/postgres
      UPSTREAM_NUXT: http://localhost:3000
    services:
      postgres:
        # Docker Hub image
        image: postgres:15.1
        env:
          POSTGRES_PASSWORD: docurba
        options: >-
          --health-cmd pg_isready
          --health-interval 1s
          --health-timeout 1s
          --health-retries 50
        ports:
          - 5434:5432

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version-file: django/.python-version
      - uses: astral-sh/setup-uv@v6
        with:
          activate-environment: true
      - run: uv sync --locked --all-extras --dev --active
      - run: pytest --create-db
      - run: ruff format --diff .
      - run: ruff check --output-format=github .
      - run: python -m django makemigrations --check --dry-run --noinput || (echo "⚠ Migration manquante ⚠"; exit 1)

